In [2]:
import pandas as pd
import numpy as np

In [29]:
#Series
marks = pd.Series(np.random.randint(50,100,20))

In [4]:
marks

0     60
1     96
2     64
3     63
4     56
5     73
6     66
7     69
8     90
9     57
10    94
11    81
12    98
13    99
14    98
15    57
16    89
17    85
18    55
19    67
dtype: int32

In [5]:
type(marks)

pandas.core.series.Series

In [6]:
marks.mean()

75.85

In [7]:
marks.median()

71.0

In [8]:
marks.mode()

0    57
1    98
dtype: int32

In [9]:
marks.value_counts()

57    2
98    2
63    1
81    1
66    1
99    1
69    1
89    1
64    1
73    1
67    1
94    1
85    1
55    1
56    1
90    1
60    1
96    1
dtype: int64

In [10]:
marks.dtype

dtype('int32')

In [11]:
marks.index

RangeIndex(start=0, stop=20, step=1)

In [12]:
marks

0     60
1     96
2     64
3     63
4     56
5     73
6     66
7     69
8     90
9     57
10    94
11    81
12    98
13    99
14    98
15    57
16    89
17    85
18    55
19    67
dtype: int32

In [30]:
marks.index = [chr(var) for var in range(65,85)]

In [14]:
marks

A    60
B    96
C    64
D    63
E    56
F    73
G    66
H    69
I    90
J    57
K    94
L    81
M    98
N    99
O    98
P    57
Q    89
R    85
S    55
T    67
dtype: int32

In [15]:
ord('G')

71

In [16]:
chr(71)

'G'

In [17]:
marks['D']

63

In [18]:
marks[10]

94

In [19]:
marks[1:10]

B    96
C    64
D    63
E    56
F    73
G    66
H    69
I    90
J    57
dtype: int32

In [21]:
marks['A':'G']

A    60
B    96
C    64
D    63
E    56
F    73
G    66
dtype: int32

In [22]:
marks.std()

16.323296235748465

In [23]:
marks.var()

266.45000000000005

In [31]:
marks['A'] = np.nan

In [32]:
marks

A     NaN
B    56.0
C    66.0
D    66.0
E    53.0
F    91.0
G    92.0
H    80.0
I    61.0
J    91.0
K    92.0
L    96.0
M    67.0
N    63.0
O    89.0
P    73.0
Q    95.0
R    73.0
S    83.0
T    94.0
dtype: float64

In [33]:
marks.count()

19

In [35]:
marks.size

20

In [40]:
s = marks.sort_values()

In [39]:
marks.sort_index()

A     NaN
B    56.0
C    66.0
D    66.0
E    53.0
F    91.0
G    92.0
H    80.0
I    61.0
J    91.0
K    92.0
L    96.0
M    67.0
N    63.0
O    89.0
P    73.0
Q    95.0
R    73.0
S    83.0
T    94.0
dtype: float64

In [41]:
s

E    53.0
B    56.0
I    61.0
N    63.0
C    66.0
D    66.0
M    67.0
R    73.0
P    73.0
H    80.0
S    83.0
O    89.0
F    91.0
J    91.0
K    92.0
G    92.0
T    94.0
Q    95.0
L    96.0
A     NaN
dtype: float64

In [42]:
s['L']

96.0

In [44]:
s[0]

53.0

In [45]:
df = pd.DataFrame({
    'name' : ['tarun','rahul','hardhik','manvi','riya'],
    'age' : [25,24,20,50,34],
    'gender' : pd.Categorical(['M','M','M','F','F']),
    'weight' : [50,60,50,80,60],
    'height' : [5.8,6,5.5,5.2,6]
})

In [46]:
df

      name  age gender  weight  height
0    tarun   25      M      50     5.8
1    rahul   24      M      60     6.0
2  hardhik   20      M      50     5.5
3    manvi   50      F      80     5.2
4     riya   34      F      60     6.0

In [47]:
type(df)

pandas.core.frame.DataFrame

In [48]:
type(df['name'])

pandas.core.series.Series

In [49]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [50]:
type(df['gender'])

pandas.core.series.Series

In [51]:
df['gender'].value_counts()

M    3
F    2
Name: gender, dtype: int64

In [52]:
df['gender']

0    M
1    M
2    M
3    F
4    F
Name: gender, dtype: category
Categories (2, object): [F, M]

In [55]:
df['gender'] = ['Male','Male','Male','Female','Female']

In [56]:
df

      name  age  gender  weight  height
0    tarun   25    Male      50     5.8
1    rahul   24    Male      60     6.0
2  hardhik   20    Male      50     5.5
3    manvi   50  Female      80     5.2
4     riya   34  Female      60     6.0

In [57]:
df['gender']

0      Male
1      Male
2      Male
3    Female
4    Female
Name: gender, dtype: object